.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex; /* deixa os elementos um do lado do outro */
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    align-items: center;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm {
    display: flex;
}

.rodapePrincipal-navMap-list {
    display: flex;
    /*flex-direction: column;
    flex-wrap: wrap; quebra para o lado quando chega no limite da página*/
    flex-flow: column wrap; /*coloca o código em coluna e depois joga para o lado*/ 
    height: 255px;
}

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    width: 23%;
    margin: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 0%;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1) {
    margin-left: 0%;
}

.videoSobre .container {
    display: flex;
}

.videoSobre-sobre {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

.videoSobre-sobre-list {
    flex-grow: 1;
}

.videoSobre-video {
    flex-grow: 1;
}

/* parte mobile */
@media(max-width: 1000px) {
.cabecalhoPrincipal-nav {
    flex-direction: column;
}

.cabecalhoPrincipal .container {
    flex-direction: column;
    align-items: initial;
    text-align: center;
}

.conteudoPrincipal-cursos {
    flex-direction: column;
    align-items: center;
}

.conteudoPrincipal-cursos-link {
    width: 95%;
}

.rodapePrincipal-navMap-list {
    height: auto;
}

.rodapePrincipal-patrocinadores .container {
    flex-direction: column;
    align-items: center;
}

.rodapePrincipal-patrocinadores-list {
    flex-direction: column;
    width: auto;
}

.rodapePrincipal-contatoForm {
    width: auto;
    justify-content: center;
}

.cabecalhoPrincipal-nav-link-app {
    order: -1;
}

.videoSobre .container {
    flex-direction: column;
}

.videoSobre-video {
    width: auto; 
    height: 315px;
}
}

@media(max-width: 315px) {
    .videoSobre-video {
        width: auto; 
        height: auto;
    }
}